#page-top .wrapper .container{
    width:100%;
    padding:0;
}

.brandBottomLine{
    border-bottom: none;
}

.brandTopLine{
    border-top: none;
}


.positionsList .positionsGroupTitle{
color: #333;
font-size: 22px;
}

#aboutCompany{
    background-image: url(http://codevalue.net/images/inner_title_bg.png);
    background-repeat: no-repeat;
    background-color:#32b3e9;
    background-position: right center;
    height: 70px;
    line-height: 70px;
    margin:0;
    padding: 0;
    Color: white;
    font-weight: lighter;
    font-size: 2.4em;
}

.inner-page .inner-header .container{
      background-image: url(http://codevalue.net/images/inner_title_bg.png);
}

#aboutCompany h2{
    Color: transparent;
    font-weight: lighter;
    font-size: 1.4em;
}

#aboutCompany h2::before{
    content: "Careers";   
    color: white;
}


.positionsList h2{
display: none !important;
}

h2.smallTitle {
      font-size: 1.2em;
      text-transform: none;
 }


.positionsList .positionItem{
     border-radius: 10px;
     background-color: #f2f2f2;
     transition: all 0.5s;
     border: none;  
     padding: 15px 20px;

}

.positionName{
    color:#32b3e9;
}

.positionsList  .positionItem:hover{    
     border: none;
     box-shadow: 0 2px 5px rgba(0,0,0,0.3)
   
}

.positionItem h4{
      color: #32b3e9;
      font-size: 1.2em;
}



.brandColoredButton{
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #32b3e9;
    border-bottom: 1px solid #1278a3;
  
}

.brandColoredButton:hover{
background-color: #1baae7;
}

.h2.smallTitle{
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.2em;
    text-transform: none;

}

.positionName{
    font-size: 1.8em;
    font-weight:500;

}

a{
    color:#32b3e9;
}

a:hover{
    text-decoration: none;
    color:#1baae7;
}

.company-links > li{
 text-transform:none;
}

.row.extraPaddingBottom{
    padding-bottom:20px;
}



@media (max-width: 768px){
#aboutCompany{
    display:none;
}

.col-md-offset-1 {
    margin-left: 4% ;
}
.col-md-10 {
    width: 92% ;
}

}

@media (min-width: 769px) and (max-width: 1199px){
 #page-top .wrapper .container{
        width:100%;
        padding:0;
        }

  .col-md-offset-1 {
    margin-left: 20.333333% ;
}
  .col-md-10 {
    width: 60.333333%;
}
}

@media (min-width: 1200px){
    #page-top .wrapper .container{
        width:100%;
        max-width:100%;
        padding:0;        
    }
.col-lg-offset-2 {
    margin-left: 20% ;
}
.col-lg-8 {
    width: 60% ;
}
}


















